.special-offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 50px 50px 50px 50px;
}

.special-dish {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.special-dish img {
  border-radius: 5%;
  box-shadow: 0 2px 16px rgb(0 0 0 / 35%);
}

.image :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.name {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: #f14a16;
}

.today-special {
  color: #9b0000;
}
